@page
@model Session25Exercise.Pages.ListModel
@{
}

<a href="/CustomerDetails/0">Add New customer</a>
<ul id="lstList">
    @foreach (var item in Model.CustomerItems)
    {
        <li>Customer Name: @item.Name</li>
        <li>Customer Surname: @item.Surname</li>
        <li>Customer AFM: @item.AFM</li>
        <li>Customer Activity: @item.Active</li>
}
</ul>

<table>
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                AFM
            </th>
            <th>
                Active
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CustomerItems)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.AFM</td>
                <td>@item.Active</td>
                <td><a href="CustomerDetails/@item.Id">Edit</a></td>
            </tr>
}
    </tbody>
</table>
